.text {
  width: 300px;
}

.text::selection {
  background-color: aquamarine;
  color:blue
}

.text::first-letter {
  font-size: 48px;
  color: lime;
}

.text::first-line {
  background-color: brown;
}

body {
  font-size: 2rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

html {
  font-size: 36px;
}

