.box {
  height: 190px;
  width: calc(50% - 20px);
  margin: 10px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: 1px solid black;
  max-width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to left
    rgba(56, 0, 0, 0.4)
    rgba(224, 30, 30, 0.4)
  ),
   url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.applesfromny.com%2Fvarieties%2Fsnapdragon%2F&psig=AOvVaw2sJ3okr-usFGh1r1H9dtmd&ust=1685466211054000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNCe1YiBm_8CFQAAAAAdAAAAABAD);
    background-position: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.box:nth-child(1) {
  background-color: #2196f3;
  background-image: url("./icons/photo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.box:nth-child(2) {
  background-color: #9c27b0;
  background-image: url("./icons/photo2.jpg");
  background-repeat: repeat-x;
  background-position: center;
}

.box:nth-child(3) {
  background-color: #009688;
  background-image: url("./icons/photo3.jpg");
  background-repeat: repeat-y;
  background-position: 50px 0px;
}

.box:nth-child(4) {
  background-color: #3f51b5;
  background-image: url("./icons/photo4.jpg");
  background-size: 150px;
  background-position: center;
}
